:host {
  ion-content  {
      --background: linear-gradient(
        315deg,
        hsl(29deg 100% 58%) 0%,
        hsl(29deg 96% 56%) 19%,
        hsl(30deg 91% 53%) 27%,
        hsl(31deg 88% 50%) 34%,
        hsl(26deg 75% 53%) 41%,
        hsl(9deg 43% 54%) 47%,
        hsl(323deg 29% 43%) 53%,
        hsl(259deg 56% 35%) 59%,
        hsl(249deg 88% 31%) 66%,
        hsl(257deg 90% 30%) 73%,
        hsl(263deg 93% 30%) 81%,
        hsl(268deg 100% 29%) 100%
      );
  }

  ion-list {
    background: none;
  }
}

.paymentplan-page {
  .info {
    color: white;
    padding: 10px;
    margin: 0;
  }
}
